{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student_login</title>
  <link rel="stylesheet" href="{% static 'styles/landing.css' %}">
  <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <header>
        <h1>Trust Academy Online Placement</h1>
        <nav>
            <a href="/">Home</a>
           
        </nav>
      </header>

    <main id="main">
        <h1>Student Login</h1>

        <div>
          {% for message in messages %}
    
          <h3 class="messagescolor">{{message}}</h3>
    
          {% endfor%}
        </div>

        <form id="login-form" action ="student_login" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" id="username" name="email" required>
          </div>
    
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <a href="#" class="forgot-password">Forgot Password?</a>
          </div>
    
          <button type="submit">Login</button>
        </form>
    
        <p>Don't have an account? <a href="student_signup">Sign Up Here</a></p>
      </main>
    

  <script src="script.js"></script>
</body>
</html>
