body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex; /* Center content vertically */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height for full viewport */
  background-color: #f5f5f5;
}

#main {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}
h3{
  color: red;
}

input[type="text"],
input[type ="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.forgot-password {
  font-size: smaller;
  float: right; /* Align right for password field */
  color: #aaa;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0067cc;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
